<!DOCTYPE html>
<html>
<body>

<h1>Mukund tu pagal hai yaad rakhna yeh baat kabhi mat bhulna.</h1>
<p>My first paragraph.</p>
<!--form action="/action_page.php"-->
<form method='GET' action='/data'>
 <input type='text' name='fname'/>
<select name="website">
 <option value="Twitter">Twitter</option>
 <option value="Facebook">Facebook</option>
 <option value="Reddit">Reddit</option>
 <option value="Instagram">Instagram</option>
</select>
<button type='submit'>Send</button>
<script src='https://www.google.com/recaptcha/api.js'></script>
 <div class="g-recaptcha" data-sitekey="6Lc35cEUAAAAAL2wUKwtee8MVxyglYbandm7yV9z"></div>
</form>
</form>

</body>
</html>